/* App.css */
.app-container {
  font-family: monospace;
  text-align: center;
 /* margin: 0 auto;*/
  background-color:whitesmoke;
}

.app-container h1 {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #213547;
  font-size: 3em;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

.app-footer {
  justify-items: flex-end;
  margin-right: 4em;
  font-size: 14px;
  color: #555;
  font-family: monospace;
}

.footer-icon {
  font-size: 18px;
}
